
.firstImage {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.zurich,
.paris,
.tokyo {
  background: #feffdf;
  border: 1px solid #feffdf;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 12px;
  transition-duration: 0.4s;
  margin-top: 20px;
}
.zurich:hover {
  background: #ffe168;
}
.paris:hover {
  background: #ffe168;
}
.tokyo:hover {
  background: #ffe168;
}
.card {
  background: #feffdf;
  max-width: 1500px;
}
.btn-primary {
  margin: 10px 5px;
}
.sun {
  display: block;
  margin: 0 auto;
}
.temperature {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.units {
  background: none;
  border: none;
  font-size: 18px;
  text-decoration: none;
  position:relative;
  top: -3px;
  color: black;
  margin-left: 5px;
}

.condition {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}
.humidity {
  text-align: center;
  font-size: 14px;
  color: #70757a;
  margin-bottom: 50px;
}
.wind {
  text-align: center;
  font-size: 14px;
  color: #70757a;
}
.five-day{text-align: center;}

.Footer {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}
